body {
    background-image: url(../photos/giftBground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: -42px;
}

a
{
   color:white;
}


.navbar-light {
    background-color: pink !important;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.footer {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding-top: 60px;
}

.navbar fixed-bottom navbar-light bg-light {
    padding: 60px 15px 0;
}
main > .container {
    padding: 60px 15px 0;
}




