@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Gift4U</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" href="~/photos/faviconsh.png" type="image/x-icon" />
    @RenderSection("Css", required: false);
</head>


<body dir="rtl">
    <header>

        <nav class="navbar fixed-top navbar-light bg-light">
            <img style=" float: right;" src="~/photos/logosh.png" width="100" height="50" />
            <a class="nav-link" href="/categories/Index">מתנות לכולם!</a>
            <a class="nav-link" href="/home/HowItWork">איך זה עובד</a>
            <a class="nav-link" href="/home/lookingforgift"> חפשו לי מתנה</a>
            <a class="nav-link" href="/Users/Login">התחבר/הירשם</a>
            @if (Context.Session.GetString("User") != null)
            {
                <a class="nav-link" href="/Users/MyPage">עמוד אישי </a>
                <a class="nav-link" asp-controller="Users" asp-action="Logout">התנתק</a>
            }
            </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footerp" style="background-color:pink">
        <div class="container">
            <div class="row">

                <div class="div-text col"><a asp-controller="Home" asp-action="Regulations"><p class="text-footer">תקנון</p></a></div>
                <div class="div-text col"><a asp-controller="Contacts" asp-action="create"><p class="text-footer">צור קשר</p></a></div>
                <div class="div-text col"><a asp-controller="Home" asp-action="cybersecurity"><p class="text-footer">אבטחת מידע</p></a></div>
            </div>
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
 </body>
</html>


