@model Gift4U.Models.User
@{
    ViewData["Title"] = "MyPage";
}

@using Microsoft.AspNetCore.Http;

<body dir="rtl">
    <h1>עמוד אישי</h1>
    <div>
        @if (Context.Session.GetString("User") != null)
        {
            if (Context.Session.GetString("User") == "chen@gmail.com")
            {
                <h2>תפריט מנהל</h2>

                <a asp-area="" asp-controller="Categories" asp-action="Create">
                    <button class="btn">הוספת קטגוריה חדשה</button>
                </a>
                <a asp-area="" asp-controller="Stores" asp-action="Create">
                    <button class="btn">הוספת חנות חדשה</button>
                </a>
                <a asp-area="" asp-controller="Sales" asp-action="Create">
                    <button class="btn">הוספת מבצע חדש</button>
                </a>
                <a asp-area="" asp-controller="Contacts" asp-action="Index">
                    <button class="btn">פניות שממתינות למענה</button>
                </a>
                <a asp-area="" asp-controller="StoreSales" asp-action="Create">
                    <button class="btn">שיוך מבצעים לחנויות  </button>
                </a>

            }
            <h3>@Context.Session.GetString("User") </h3>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Context.Session.GetString("User")">
                <button class="btn">לפרטים שלי</button>
            </a>

            <a asp-controller="Orders" asp-action="Index" asp-route-id="@Context.Session.GetString("User")">
                <button class="btn">להזמנות שלי</button>
            </a>
        }
        else
        {

        }


    </div>
</body>





